* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Hanken Grotesk", sans-serif;
    font-weight: bold;
    background-color: black;
}


.container {
    background-image: url("concert_02.jpg");
    background-size: cover;
    background-position: 50% 100%;
    color: #faf6f2;
    text-align: center;
    text-shadow: 0 0 10px #36454F;
    width: 230px;
    max-width: 640px;
    margin: 0 auto;
    padding: 4em 8em;
}
.counting {
    padding: 1em 0;
    backdrop-filter: blur(2px);

}
h1 {
    font-size: 2rem;
    margin: 0 0 0.8em;
}
h2 {
    margin: 0.65em 0;
}



button {
    border: none;
    padding: 0.7em 1em;
    color: #faf6f2;
    font-weight: bold;
    margin-bottom: 5px;
    border-radius: 5px;
    background: none;
    box-shadow: rgba(119, 119, 156, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border: solid 1px #faf6f2;
    cursor: pointer;
}
button:hover{
    box-shadow: 0 0 10px #1d1e1f;
    color:
} 
